<!-- <form (ngSubmit)="updatePlanet()" style="margin-top: 1rem">
  <mat-form-field appearance="fill" class="form-field full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="planet.description"
      name="description"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field full-width">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="planet.status" name="status" required>
      <mat-option
        *ngFor="let status of PlanetStatus | keyvalue"
        [value]="status.key"
      >
        {{ status.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update</button>
</form> -->
