<form
  (ngSubmit)="updatePlanet()"
  style="display: flex; flex-direction: column; padding-top: 0.5rem"
>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="planet.status" name="status">
      <mat-option
        *ngFor="let status of PlanetStatusRecord | keyvalue"
        [value]="status.key"
      >
        {{ status.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="planet.description"
      name="description"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update</button>
</form>
