<div *ngIf="planet" class="planet-detail">
  <h2>{{ planet.name }}</h2>
  <img [src]="planet.imageUrl" alt="{{ planet.name }}" />

  <form (ngSubmit)="updatePlanet()" #planetForm="ngForm">
    <label>
      Description:
      <textarea
        [(ngModel)]="planet.description"
        name="description"
        required
      ></textarea>
    </label>

    <label>
      Status:
      <select [(ngModel)]="planet.status" name="status" required>
        <option [ngValue]="0">OK</option>
        <option [ngValue]="1">!OK</option>
        <option [ngValue]="2">TODO</option>
        <option [ngValue]="3">En Route</option>
      </select>
    </label>

    <button type="submit">Update</button>
  </form>
</div>
