<div *ngIf="planet">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>{{ planet.name }}</mat-card-title>

      <button
        mat-mini-fab
        *ngIf="isCaptain"
        color="primary"
        (click)="toggleEditMode()"
      >
        <mat-icon>{{ isEditMode ? "check" : "edit" }}</mat-icon>
      </button>
    </mat-card-header>

    <img
      mat-card-image
      [src]="planet.imageUrl"
      loading="lazy"
      alt="{{ planet.name }}"
    />

    <mat-card-content>
      <ng-container *ngIf="!isEditMode">
        <p>{{ planet.description || "no description yet." }}</p>
        <app-planet-status [status]="planet.status"></app-planet-status>
      </ng-container>

      <ng-container *ngIf="isEditMode">
        <app-planet-detail-form
          [planet]="planet"
          (planetUpdated)="updatePlanet($event)"
        />
      </ng-container>
      <br />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><strong>Team Information</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="planet.exploredByTeam">
          <p>
            <strong>Captain:</strong> {{ planet.exploredByTeam.captain.name }}
          </p>
          <mat-list *ngIf="planet.exploredByTeam.robots?.length">
            <span><strong>Robots: </strong> </span>
            <mat-chip *ngFor="let robot of planet.exploredByTeam.robots">
              <span>{{ robot.robotNumber }}</span>
            </mat-chip>
          </mat-list>
        </ng-container>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
