<div *ngIf="planet" style="padding: 1rem">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ planet.name }}</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image [src]="planet.imageUrl" alt="{{ planet.name }}" /> -->

    <mat-card-content>
      <p><strong>Status:</strong> {{ planet.status }}</p>
      <p>{{ planet.description }}</p>

      <ng-container *ngIf="planet.exploredByTeam">
        <h3>Team Info</h3>
        <p>
          <strong>Captain:</strong> {{ planet.exploredByTeam.captain.name }}
        </p>

        <mat-chip-list *ngIf="planet.exploredByTeam.robots?.length">
          <mat-chip *ngFor="let robot of planet.exploredByTeam.robots">
            <mat-icon>android</mat-icon> {{ robot.robotNumber }}
          </mat-chip>
        </mat-chip-list>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
