# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
.vscode/
.idea/

# SQLite database
*.db
*.db-shm
*.db-wal

# EF Core Migrations snapshots
Migrations/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Dotnet secrets
secrets.json
